body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/images/park.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

h1 {
  font-size: 2rem;
}
h2{
  color: #2ed573;
}
p,
form,
a,
legend {
  font-size: 1.2rem;
}
form,
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #ffa502;
  margin-bottom: 2em;
  display: block;
}

.container {
  width: 80vw;
  margin: 2em auto;
  padding: 3em;
  background: rgba(47, 53, 66, 0.9);
  color: #ced6e0;
}
fieldset {
  display: inline-block;
  float: right;
}
button {
  cursor: pointer;
}

#parks-form * {
  margin: 5px;
}

label {
  display: block;
}
